/* Custom Scrollbar for Modals */
.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.05);
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    margin-top: 2rem;
    /* Avoid header */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #cdcdcd;
    border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
}